.textbox {
   position: relative;
   z-index: var(--z-index-1);
   width: fit-content;
   flex: 1;
   border: var(--border-width-1) solid transparent;

   border-radius: var(--border-radius-4);
   --inner-radius: calc(var(--border-radius-4) - var(--border-width-1));
   & > .input:first-child,
   & > *:first-child .input {
      border-top-left-radius: var(--inner-radius);
      border-bottom-left-radius: var(--inner-radius);
   }
   & > .input:last-child,
   & > *:last-child .input {
      border-top-right-radius: var(--inner-radius);
      border-bottom-right-radius: var(--inner-radius);
   }
   // overflow: hidden; // sets radius
}

.textbox:focus-within {
   z-index: var(--z-index-2); /* Stack `.textbox` over its sibling elements */
}
.textbox:hover {
   border-color: var(--figma-color-border);
}
.textbox:has(input:focus) {
   border-color: var(--figma-color-border-selected);
}
.disabled,
.disabled * {
   cursor: not-allowed;
}

.resizer {
   &:hover {
      cursor: ew-resize;
   }
}

// .container {}

.input {
   display: flex;
   flex: 1;
   align-items: center;
   width: 100%;
   height: var(--space-24);
   padding: var(--space-0) calc(var(--space-8) - var(--border-width-1));
   color: var(--figma-color-text);
   background-color: var(--figma-color-bg-secondary);

   &:has(.left) {
      padding-left: calc(var(--space-24) + 2px);
   }
   &:has(.right) {
      padding-right: calc(var(--space-24) + 2px);
   }
}
.primitive {
   background: none;
   text-align: left;
   height: var(--space-24);
   width: 24px;
   flex: 1;
}

.disabled .input {
   border-color: var(--figma-color-border-disabled);
   background-color: transparent;
   color: var(--figma-color-text-disabled);
}

.input::placeholder {
   color: var(--figma-color-text-tertiary);
}

.center-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.decorator {
   @extend .center-center;
   position: absolute;
   // pointer-events: none;
   text-align: center;
   top: 0;
   // left: var(--space-4);
   background-size: 115%;
   background-repeat: no-repeat;

   width: var(--space-24);
   height: var(--space-24);
}

.left {
   @extend .decorator;
   left: 1px;
}
.right {
   @extend .decorator;
   right: 1px;
}

.disabled .left {
   color: var(--figma-color-icon-disabled);
   opacity: 0.5;
}

.icon svg {
   fill: currentColor;
}
