body.force-alias,
body.force-alias * {
   cursor: alias !important;
}

body.force-all-scroll,
body.force-all-scroll * {
   cursor: all-scroll !important;
}

body.force-auto,
body.force-auto * {
   cursor: auto !important;
}

body.force-cell,
body.force-cell * {
   cursor: cell !important;
}

body.force-context-menu,
body.force-context-menu * {
   cursor: context-menu !important;
}

body.force-col-resize,
body.force-col-resize * {
   cursor: col-resize !important;
}

body.force-copy,
body.force-copy * {
   cursor: copy !important;
}

body.force-crosshair,
body.force-crosshair * {
   cursor: crosshair !important;
}

body.force-default,
body.force-default * {
   cursor: default !important;
}

body.force-e-resize,
body.force-e-resize * {
   cursor: e-resize !important;
}

body.force-ew-resize,
body.force-ew-resize * {
   cursor: ew-resize !important;
}

body.force-grab,
body.force-grab * {
   cursor: grab !important;
}

body.force-grabbing,
body.force-grabbing * {
   cursor: grabbing !important;
}

body.force-help,
body.force-help * {
   cursor: help !important;
}

body.force-move,
body.force-move * {
   cursor: move !important;
}

body.force-n-resize,
body.force-n-resize * {
   cursor: n-resize !important;
}

body.force-ne-resize,
body.force-ne-resize * {
   cursor: ne-resize !important;
}

body.force-nesw-resize,
body.force-nesw-resize * {
   cursor: nesw-resize !important;
}

body.force-ns-resize,
body.force-ns-resize * {
   cursor: ns-resize !important;
}

body.force-nw-resize,
body.force-nw-resize * {
   cursor: nw-resize !important;
}

body.force-nwse-resize,
body.force-nwse-resize * {
   cursor: nwse-resize !important;
}

body.force-no-drop,
body.force-no-drop * {
   cursor: no-drop !important;
}

body.force-none,
body.force-none * {
   cursor: none !important;
}

body.force-not-allowed,
body.force-not-allowed * {
   cursor: not-allowed !important;
}

body.force-pointer,
body.force-pointer * {
   cursor: pointer !important;
}

body.force-progress,
body.force-progress * {
   cursor: progress !important;
}

body.force-row-resize,
body.force-row-resize * {
   cursor: row-resize !important;
}

body.force-s-resize,
body.force-s-resize * {
   cursor: s-resize !important;
}

body.force-se-resize,
body.force-se-resize * {
   cursor: se-resize !important;
}

body.force-sw-resize,
body.force-sw-resize * {
   cursor: sw-resize !important;
}

body.force-text,
body.force-text * {
   cursor: text !important;
}

body.force-vertical-text,
body.force-vertical-text * {
   cursor: vertical-text !important;
}

body.force-w-resize,
body.force-w-resize * {
   cursor: w-resize !important;
}

body.force-wait,
body.force-wait * {
   cursor: wait !important;
}

body.force-zoom-in,
body.force-zoom-in * {
   cursor: zoom-in !important;
}

body.force-zoom-out,
body.force-zoom-out * {
   cursor: zoom-out !important;
}
