// Custom Scrollbar

.custom-scroll-parent {
   .custom-scroll-track {
      opacity: 0;
   }

   &:has(.custom-scroll-thumb:active),
   &:hover {
      .custom-scroll-track {
         opacity: 1;
      }
   }
}

.custom-scroll-track {
   width: 11px;
   padding: 2px;
   border-left: 1px solid transparent;

   transition: opacity 60ms ease-out;

   &:has(.custom-scroll-thumb:active),
   &:hover {
      border-color: var(--figma-color-border);
   }
}

.custom-scroll-thumb {
   background: var(--figma-color-text-tertiary);
   border-radius: 3px;
   opacity: 0.9;

   &:hover,
   &:active {
      opacity: 1;
   }
}
