.ai-c { align-items: center; }
.bg--figma-color-bg { background: var(--figma-color-bg); }
.c-white { color: white; }
.d-f { display: flex; }
.fd-co { flex-direction: column; }
.fw-500 { font-weight: 500; }
.gap-1px { gap: 1px; }
.gap-5px { gap: 5px; }
.gap-6px { gap: 6px; }
.gap-8px { gap: 8px; }
.jc-sb { justify-content: space-between; }
.ml-6px { margin-left: 6px; }
.mt-16px { margin-top: 16px; }
.o-70 { opacity: 70%; }
.p-small { padding: small; }
.pos-relative { position: relative; }
.w-187px { width: 187px; }
.w-80px { width: 80px; }
