.ai-c { align-items: center; }
.bg--figma-color-bg { background: var(--figma-color-bg); }
.bg-black { background: black; }
.c-white { color: white; }
.d-f { display: flex; }
.fd-co { flex-direction: column; }
.fs-14px { font-size: 14px; }
.fw-500 { font-weight: 500; }
.fw-550 { font-weight: 550; }
.gap-12px { gap: 12px; }
.gap-1px { gap: 1px; }
.gap-5px { gap: 5px; }
.gap-6px { gap: 6px; }
.gap-8px { gap: 8px; }
.h-30px { height: 30px; }
.jc-c { justify-content: center; }
.jc-fe { justify-content: flex-end; }
.jc-sb { justify-content: space-between; }
.ml-6px { margin-left: 6px; }
.mt-4px { margin-top: 4px; }
.mt-8px { margin-top: 8px; }
.o-60 { opacity: 60%; }
.o-70 { opacity: 70%; }
.o-80 { opacity: 80%; }
.p-small { padding: small; }
.pb-1rem { padding-bottom: 1rem; }
.pl-6px { padding-left: 6px; }
.pos-relative { position: relative; }
.pt-1rem { padding-top: 1rem; }
.w-100 { width: 100%; }
